$titleColor : #fff;
$font-m : 16px;
$font-l : $font-m * 1.2;
$font-s : $font-m * 0.8;

$primary: #AA0601;
$secondary: #650300;
$dark: #333;
$black: #000;
$white: #fff;
$light: #DEE2E6;
$warm: #FBF2F2;
$gray-light: #DCDCDC;
$gray: #707070;
$gray-dull: #555;
$gray-deep: #495057;

// $spacer: 8px;